html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

#details {
    background-color: lightgrey;
}

#verification {
    background-color: lightgrey;
}

#employment {
    background-color: lightgrey;
}

.tablink {
    background-color: #555;
    border: hidden;
    color: white;
    cursor: pointer;
    float: inline-start;
    font-size: 17px;
    outline: hidden;
    padding: 14px 16px;
    width: 33.334%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    border-radius: 5px;
    color: black;
    height: 100%;
    outline: solid;
    padding: 100px 20px;
}