html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.tablink {
    background-color: darkgrey;
    color: black;
    float: inline-start;
    border: none;
    outline: hidden;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    width: 33.33%;
}

.tablink:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.tabcontent {
    color: black;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Details { background-color: lightgrey; }
#Verification { background-color: lightgrey; }
#Employment { background-color: lightgrey; }