@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Entry";
}

@model EmploymentMonitoringSystem.Models.InitialRecord

<div class="text-center">
    <h1 class="display-4">Create an Entry</h1>
</div>

<div class="container mt-4">
    <form asp-action="Index">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group mb-4">
            <label asp-for="last_name" class="form-label">Last name</label>
            <input asp-for="last_name" class="form-control" type="text" placeholder="Enter last name" />
        </div>
        <div class="form-group mb-4">
            <label asp-for="first_name" class="form-label">First name</label>
            <input asp-for="first_name" class="form-control" type="text" placeholder="Enter first name" />
        </div>
        <div class="form-group mb-4">
            <label asp-for="middle_name" class="form-label">Middle name</label>
            <input asp-for="middle_name" class="form-control" type="text" placeholder="Enter middle name" />
        </div>
        <div class="form-group mb-4">
            <label asp-for="extension_name" class="form-label">Extension name</label>
            <select asp-for="extension_name" class="form-control">
                <option value="">None</option>
                <option value="Sr.">Sr.</option>
                <option value="Jr.">Jr.</option>
                <option value="III">III</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Proceed</button>
            <a asp-controller="Records" asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}