@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>TESDA Employment Monitoring System</p>
</div>

<div class="text-center">
    <a href="https://lookerstudio.google.com/reporting/9d6c7c0a-dcfb-4dda-ba67-589c230b57bd/page/GzuKE?fbclid=IwY2xjawGZXIlleHRuA2FlbQIxMAABHWw1eJ0SY4OlJju7W9T7gV5eNEVFGy5QgPEYOM0jkeni293iDCwtfhtkkQ_aem_jBd-8gTDT5g2pEeWlbhpFQ" 
        class="btn btn-primary mb-2" target="_blank">Dashboard</a>
    <br />
    <a asp-controller="Records" asp-action="Index" class="btn btn-primary">View Records</a>
</div>