@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>TESDA Employment Monitoring System</p>
</div>

<div class="text-center">
    <p><a asp-controller="Records" asp-action="Index" class="btn btn-primary">View Records</a></p>
</div>