@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Employment Data Records";
}

<div class="text-center">
    <h1 class="display-1">Employment Data Records</h1>
    <a class="btn btn-primary">Create Entry</a>
    <br />
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    No.
                </th>
                <th>
                    Last name
                </th>
                <th>
                    First name
                </th>
                <th>
                    Middle name
                </th>
                <th>
                    Ext.
                </th>
                <th>
                    Status of Employment
                </th>
                <th>
                    Year of Graduation
                </th>
                <th>
                    Qualification Title
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>

        <tbody>
            <!-- Laman ng table -->
        </tbody>
    </table>
</div>
